* {
  list-style: none;
  margin: 0 auto;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

#app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* 헤더 css */
#header {
  display: flex;
  justify-content: space-between;
  width: 1800px;
  height: 230px;
}

#header-logo-btn {
  margin-top: 0;
  display: flex;
  align-items: flex-start;
  margin-right: 0;
}

#header-logo {
  width: 190px;
  height: 190px;
}

#header-nav-container {
  display: flex;
  align-items: flex-end;
}

#header-sideBtn-container {
  display: flex;
  justify-content: space-between;
  width: 136px;
  height: 250px;
  margin-left: 0;
}

#main-container {
  margin-top: 80px;
}

/* Nav css */
#nav {
  display: flex;
  width: 650px;
  height: 31px;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
}

#nav li {
  margin: 10px;
}

#nav li button {
  font-size: 16px;
  margin: 10px;
}

/* MainProduct css */
#mainProduct-container {
  display: flex;
  flex-direction: column;
  width: 1400px;
}

#mainProduct-title {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 130px;
}

#mainProduct-title h1 {
  font-size: 40px;
}

#mainProduct-title p {
  font-size: 15px;
  margin-top: 17px;
}

#mainProduct-box-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

#mainProduct-products {
  margin-bottom: 80px;
}

#mainProduct-products-image {
  border-radius: 5px;
  box-shadow: 1px 5px 10px 5px rgb(184, 184, 184, 0.4);
}

#mainProduct-products-title {
  margin-top: 20px;
  margin-left: 10px;
}

#mainProduct-products-price {
  margin-top: 5px;
}

/* footer css */

#footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  width: 100%;
  height: 200px;
  margin-top: 80px;
}

#footer img {
  width: 130px;
  height: 130px;
  padding-top: 10px;
}

#footer-text {
  text-align: right;
  margin-top: 20px;
}
